Codigo del proyecto/Codigo interfaz Node-Red.json
[
    {
        "id": "89805faa7c8e0f1d",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0147e7d4e313524d",
        "type": "tcp out",
        "z": "89805faa7c8e0f1d",
        "name": "",
        "host": "192.168.0.43",
        "port": "3000",
        "beserver": "client",
        "base64": false,
        "end": false,
        "tls": "",
        "x": 1420,
        "y": 400,
        "wires": []
    },
    {
        "id": "15926d0063c43e50",
        "type": "ui_button",
        "z": "89805faa7c8e0f1d",
        "name": "",
        "group": "4f46f6761ba02702",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "ENCENDER LED",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "y",
        "payloadType": "bin",
        "topic": "",
        "topicType": "str",
        "x": 170,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "023a223a8c3928e1",
        "type": "debug",
        "z": "89805faa7c8e0f1d",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1440,
        "y": 880,
        "wires": []
    },
    {
        "id": "32815450a2264ecb",
        "type": "ui_button",
        "z": "89805faa7c8e0f1d",
        "name": "",
        "group": "a1e24a66b8b9e219",
        "order": 6,
        "width": 6,
        "height": 2,
        "passthru": true,
        "label": "ALTO",
        "tooltip": "",
        "color": "",
        "bgcolor": "darkred",
        "className": "",
        "icon": "",
        "payload": "9",
        "payloadType": "str",
        "topic": "payload",
        "topicType": "msg",
        "x": 130,
        "y": 300,
        "wires": [
            [
                "1dce56df65e22a3b"
            ]
        ]
    },
    {
        "id": "20ba11dc50302e11",
        "type": "ui_button",
        "z": "89805faa7c8e0f1d",
        "name": "",
        "group": "6d5f39e00b1b7885",
        "order": 2,
        "width": 4,
        "height": 2,
        "passthru": true,
        "label": "G. S. D.",
        "tooltip": "",
        "color": "",
        "bgcolor": "#DEBD5C",
        "className": "",
        "icon": "",
        "payload": "18",
        "payloadType": "str",
        "topic": "payload",
        "topicType": "msg",
        "x": 140,
        "y": 620,
        "wires": [
            [
                "369142a9a5452063"
            ]
        ]
    },
    {
        "id": "e78f899ea9cd1557",
        "type": "ui_button",
        "z": "89805faa7c8e0f1d",
        "name": "",
        "group": "45f3bc3f0ed8f0d3",
        "order": 2,
        "width": 4,
        "height": 2,
        "passthru": true,
        "label": "G. S. I.",
        "tooltip": "",
        "color": "",
        "bgcolor": "#DEBD5C",
        "className": "",
        "icon": "",
        "payload": "17",
        "payloadType": "str",
        "topic": "payload",
        "topicType": "msg",
        "x": 140,
        "y": 580,
        "wires": [
            [
                "7fc6630d31f119c4"
            ]
        ]
    },
    {
        "id": "24c5e6e892b10761",
        "type": "ui_button",
        "z": "89805faa7c8e0f1d",
        "name": "",
        "group": "6d5f39e00b1b7885",
        "order": 8,
        "width": 4,
        "height": 2,
        "passthru": true,
        "label": "GIRO DERECHA",
        "tooltip": "",
        "color": "",
        "bgcolor": "#DEBD5C",
        "className": "",
        "icon": "",
        "payload": "16",
        "payloadType": "str",
        "topic": "payload",
        "topicType": "msg",
        "x": 170,
        "y": 540,
        "wires": [
            [
                "2984a9a2f48c5bc4"
            ]
        ]
    },
    {
        "id": "40aaa36a2105f8c5",
        "type": "ui_button",
        "z": "89805faa7c8e0f1d",
        "name": "",
        "group": "6d5f39e00b1b7885",
        "order": 6,
        "width": 6,
        "height": 2,
        "passthru": true,
        "label": "DERECHA",
        "tooltip": "",
        "color": "",
        "bgcolor": "darkred",
        "className": "",
        "icon": "",
        "payload": "14",
        "payloadType": "str",
        "topic": "payload",
        "topicType": "msg",
        "x": 150,
        "y": 460,
        "wires": [
            [
                "b23bfd550b6a6707"
            ]
        ]
    },
    {
        "id": "b75ce748088ae825",
        "type": "ui_button",
        "z": "89805faa7c8e0f1d",
        "name": "",
        "group": "a1e24a66b8b9e219",
        "order": 2,
        "width": 4,
        "height": 2,
        "passthru": true,
        "label": "ADELANTE",
        "tooltip": "",
        "color": "",
        "bgcolor": "darkred",
        "className": "",
        "icon": "",
        "payload": "11",
        "payloadType": "str",
        "topic": "payload",
        "topicType": "msg",
        "x": 150,
        "y": 340,
        "wires": [
            [
                "4fb279cce3e63f9c"
            ]
        ]
    },
    {
        "id": "04475a5758ebd67c",
        "type": "ui_button",
        "z": "89805faa7c8e0f1d",
        "name": "",
        "group": "45f3bc3f0ed8f0d3",
        "order": 6,
        "width": 6,
        "height": 2,
        "passthru": true,
        "label": "IZQUIERDA",
        "tooltip": "",
        "color": "",
        "bgcolor": "darkred",
        "className": "",
        "icon": "",
        "payload": "13",
        "payloadType": "str",
        "topic": "payload",
        "topicType": "msg",
        "x": 150,
        "y": 420,
        "wires": [
            [
                "f1a1943921b2ad9e"
            ]
        ]
    },
    {
        "id": "395e82b9213eabe7",
        "type": "ui_button",
        "z": "89805faa7c8e0f1d",
        "name": "",
        "group": "a1e24a66b8b9e219",
        "order": 8,
        "width": 4,
        "height": 2,
        "passthru": true,
        "label": "REVERSA",
        "tooltip": "",
        "color": "",
        "bgcolor": "darkred",
        "className": "",
        "icon": "",
        "payload": "12",
        "payloadType": "str",
        "topic": "payload",
        "topicType": "msg",
        "x": 150,
        "y": 380,
        "wires": [
            [
                "f5a12fac2ae6f4cc"
            ]
        ]
    },
    {
        "id": "18b011e9c3909c19",
        "type": "ui_button",
        "z": "89805faa7c8e0f1d",
        "name": "",
        "group": "45f3bc3f0ed8f0d3",
        "order": 8,
        "width": 4,
        "height": 2,
        "passthru": true,
        "label": "GIRO IZQUIERDA",
        "tooltip": "",
        "color": "",
        "bgcolor": "#DEBD5C",
        "className": "",
        "icon": "",
        "payload": "15",
        "payloadType": "str",
        "topic": "payload",
        "topicType": "msg",
        "x": 170,
        "y": 500,
        "wires": [
            [
                "2984ea41d95d615c"
            ]
        ]
    },
    {
        "id": "32c9399570b9167d",
        "type": "ui_chart",
        "z": "89805faa7c8e0f1d",
        "name": "",
        "group": "95d2d82926f411db",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "GRAFICA",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "200",
        "removeOlder": 1,
        "removeOlderPoints": "30",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1400,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "189e2a39ece84f82",
        "type": "debug",
        "z": "89805faa7c8e0f1d",
        "name": "debug serial port TX(transmisor)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1230,
        "y": 240,
        "wires": []
    },
    {
        "id": "74e70411896daaae",
        "type": "tcp in",
        "z": "89805faa7c8e0f1d",
        "name": "",
        "server": "client",
        "host": "192.168.0.43",
        "port": "3000",
        "datamode": "stream",
        "datatype": "buffer",
        "newline": "",
        "topic": "",
        "trim": false,
        "base64": false,
        "tls": "",
        "x": 960,
        "y": 140,
        "wires": [
            [
                "189e2a39ece84f82",
                "d284abe4c6b50412"
            ]
        ]
    },
    {
        "id": "d284abe4c6b50412",
        "type": "function",
        "z": "89805faa7c8e0f1d",
        "name": "function 2",
        "func": "msg.payload = msg.payload[0]\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1220,
        "y": 140,
        "wires": [
            [
                "32c9399570b9167d"
            ]
        ]
    },
    {
        "id": "0ae5423e3c1f8a0a",
        "type": "ui_button",
        "z": "89805faa7c8e0f1d",
        "name": "",
        "group": "6ab8ac8a0123522e",
        "order": 4,
        "width": 6,
        "height": 1,
        "passthru": true,
        "label": "BASE",
        "tooltip": "",
        "color": "",
        "bgcolor": "darkred",
        "className": "",
        "icon": "",
        "payload": "4",
        "payloadType": "str",
        "topic": "payload",
        "topicType": "msg",
        "x": 130,
        "y": 220,
        "wires": [
            [
                "d648f275afa8fc41"
            ]
        ]
    },
    {
        "id": "6417844c452daec8",
        "type": "ui_button",
        "z": "89805faa7c8e0f1d",
        "name": "",
        "group": "6ab8ac8a0123522e",
        "order": 3,
        "width": 3,
        "height": 2,
        "passthru": true,
        "label": "SERVO IZQUIERDA",
        "tooltip": "",
        "color": "",
        "bgcolor": "darkred",
        "className": "",
        "icon": "",
        "payload": "3",
        "payloadType": "str",
        "topic": "payload",
        "topicType": "msg",
        "x": 180,
        "y": 180,
        "wires": [
            [
                "3da896f8fae40640"
            ]
        ]
    },
    {
        "id": "d470254fbd6d459c",
        "type": "ui_button",
        "z": "89805faa7c8e0f1d",
        "name": "",
        "group": "6ab8ac8a0123522e",
        "order": 2,
        "width": 3,
        "height": 2,
        "passthru": true,
        "label": "SERVO DERECHA",
        "tooltip": "",
        "color": "",
        "bgcolor": "darkred",
        "className": "",
        "icon": "",
        "payload": "2",
        "payloadType": "str",
        "topic": "payload",
        "topicType": "msg",
        "x": 170,
        "y": 140,
        "wires": [
            [
                "a972f49e4e94c4ee"
            ]
        ]
    },
    {
        "id": "9d1b9f925b523f9d",
        "type": "ui_button",
        "z": "89805faa7c8e0f1d",
        "name": "",
        "group": "6ab8ac8a0123522e",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": true,
        "label": "GARRA",
        "tooltip": "",
        "color": "",
        "bgcolor": "darkred",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "payload",
        "topicType": "msg",
        "x": 140,
        "y": 100,
        "wires": [
            [
                "4b9035f42f714259"
            ]
        ]
    },
    {
        "id": "265b46c5a0642cc5",
        "type": "ui_button",
        "z": "89805faa7c8e0f1d",
        "name": "",
        "group": "6ab8ac8a0123522e",
        "order": 5,
        "width": 6,
        "height": 1,
        "passthru": true,
        "label": "RADAR",
        "tooltip": "",
        "color": "",
        "bgcolor": "darkred",
        "className": "",
        "icon": "",
        "payload": "5",
        "payloadType": "str",
        "topic": "payload",
        "topicType": "msg",
        "x": 140,
        "y": 260,
        "wires": [
            [
                "43f60e39074b54cc"
            ]
        ]
    },
    {
        "id": "f31fff06c291a7eb",
        "type": "ui_button",
        "z": "89805faa7c8e0f1d",
        "name": "",
        "group": "7d38eba2de7e80df",
        "order": 1,
        "width": 4,
        "height": 2,
        "passthru": true,
        "label": "0°",
        "tooltip": "",
        "color": "",
        "bgcolor": "darkred",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "payload",
        "topicType": "msg",
        "x": 130,
        "y": 680,
        "wires": [
            [
                "0b63ef211e79b0ef"
            ]
        ]
    },
    {
        "id": "747920212ca2e314",
        "type": "ui_button",
        "z": "89805faa7c8e0f1d",
        "name": "",
        "group": "7d38eba2de7e80df",
        "order": 8,
        "width": 4,
        "height": 2,
        "passthru": true,
        "label": "70°",
        "tooltip": "",
        "color": "",
        "bgcolor": "darkred",
        "className": "",
        "icon": "",
        "payload": "70",
        "payloadType": "str",
        "topic": "payload",
        "topicType": "msg",
        "x": 130,
        "y": 960,
        "wires": [
            [
                "52efc93f9d4aa886"
            ]
        ]
    },
    {
        "id": "e413ddcdbf68b6b8",
        "type": "ui_button",
        "z": "89805faa7c8e0f1d",
        "name": "",
        "group": "7d38eba2de7e80df",
        "order": 7,
        "width": 4,
        "height": 2,
        "passthru": true,
        "label": "60°",
        "tooltip": "",
        "color": "",
        "bgcolor": "darkred",
        "className": "",
        "icon": "",
        "payload": "60",
        "payloadType": "str",
        "topic": "payload",
        "topicType": "msg",
        "x": 130,
        "y": 920,
        "wires": [
            [
                "8430719f8bf75c9e"
            ]
        ]
    },
    {
        "id": "eb131d8d95522345",
        "type": "ui_button",
        "z": "89805faa7c8e0f1d",
        "name": "",
        "group": "7d38eba2de7e80df",
        "order": 6,
        "width": 4,
        "height": 2,
        "passthru": true,
        "label": "50°",
        "tooltip": "",
        "color": "",
        "bgcolor": "darkred",
        "className": "",
        "icon": "",
        "payload": "50",
        "payloadType": "str",
        "topic": "payload",
        "topicType": "msg",
        "x": 130,
        "y": 880,
        "wires": [
            [
                "04d0a43b9a43d820"
            ]
        ]
    },
    {
        "id": "0ff4541fb6fac7f9",
        "type": "ui_button",
        "z": "89805faa7c8e0f1d",
        "name": "",
        "group": "7d38eba2de7e80df",
        "order": 5,
        "width": 4,
        "height": 2,
        "passthru": true,
        "label": "40°",
        "tooltip": "",
        "color": "",
        "bgcolor": "darkred",
        "className": "",
        "icon": "",
        "payload": "40",
        "payloadType": "str",
        "topic": "payload",
        "topicType": "msg",
        "x": 130,
        "y": 840,
        "wires": [
            [
                "7c84809c9b37d0a2"
            ]
        ]
    },
    {
        "id": "525fcdb7c71b3df5",
        "type": "ui_button",
        "z": "89805faa7c8e0f1d",
        "name": "",
        "group": "7d38eba2de7e80df",
        "order": 4,
        "width": 4,
        "height": 2,
        "passthru": true,
        "label": "30°",
        "tooltip": "",
        "color": "",
        "bgcolor": "darkred",
        "className": "",
        "icon": "",
        "payload": "30",
        "payloadType": "str",
        "topic": "payload",
        "topicType": "msg",
        "x": 130,
        "y": 800,
        "wires": [
            [
                "4c296ad905d9bc37"
            ]
        ]
    },
    {
        "id": "a89f54e816042715",
        "type": "ui_button",
        "z": "89805faa7c8e0f1d",
        "name": "",
        "group": "7d38eba2de7e80df",
        "order": 3,
        "width": 4,
        "height": 2,
        "passthru": true,
        "label": "20°",
        "tooltip": "",
        "color": "",
        "bgcolor": "darkred",
        "className": "",
        "icon": "",
        "payload": "20",
        "payloadType": "str",
        "topic": "payload",
        "topicType": "msg",
        "x": 130,
        "y": 760,
        "wires": [
            [
                "39c8ebb82f2c0d31"
            ]
        ]
    },
    {
        "id": "4f3dbd2e1597301b",
        "type": "ui_button",
        "z": "89805faa7c8e0f1d",
        "name": "",
        "group": "7d38eba2de7e80df",
        "order": 2,
        "width": 4,
        "height": 2,
        "passthru": true,
        "label": "10°",
        "tooltip": "",
        "color": "",
        "bgcolor": "darkred",
        "className": "",
        "icon": "",
        "payload": "10",
        "payloadType": "str",
        "topic": "payload",
        "topicType": "msg",
        "x": 130,
        "y": 720,
        "wires": [
            [
                "9b197f58db217f4c"
            ]
        ]
    },
    {
        "id": "69018886352421e5",
        "type": "ui_button",
        "z": "89805faa7c8e0f1d",
        "name": "",
        "group": "7d38eba2de7e80df",
        "order": 11,
        "width": 4,
        "height": 2,
        "passthru": true,
        "label": "90°",
        "tooltip": "",
        "color": "",
        "bgcolor": "darkred",
        "className": "",
        "icon": "",
        "payload": "90",
        "payloadType": "str",
        "topic": "payload",
        "topicType": "msg",
        "x": 130,
        "y": 1040,
        "wires": [
            [
                "93bd2736ddaaa80a"
            ]
        ]
    },
    {
        "id": "b890b30538c2acea",
        "type": "ui_button",
        "z": "89805faa7c8e0f1d",
        "name": "",
        "group": "7d38eba2de7e80df",
        "order": 9,
        "width": 4,
        "height": 2,
        "passthru": true,
        "label": "80°",
        "tooltip": "",
        "color": "",
        "bgcolor": "darkred",
        "className": "",
        "icon": "",
        "payload": "80",
        "payloadType": "str",
        "topic": "payload",
        "topicType": "msg",
        "x": 130,
        "y": 1000,
        "wires": [
            [
                "95651325d5a46ad1"
            ]
        ]
    },
    {
        "id": "4b9035f42f714259",
        "type": "function",
        "z": "89805faa7c8e0f1d",
        "name": "function 4",
        "func": "msg.payload = \"s0\\r\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 100,
        "wires": [
            [
                "0147e7d4e313524d",
                "023a223a8c3928e1"
            ]
        ]
    },
    {
        "id": "a972f49e4e94c4ee",
        "type": "function",
        "z": "89805faa7c8e0f1d",
        "name": "function 5",
        "func": "msg.payload = \"s1\\r\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 140,
        "wires": [
            [
                "0147e7d4e313524d",
                "023a223a8c3928e1"
            ]
        ]
    },
    {
        "id": "3da896f8fae40640",
        "type": "function",
        "z": "89805faa7c8e0f1d",
        "name": "function 6",
        "func": "msg.payload = \"s2\\r\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 180,
        "wires": [
            [
                "0147e7d4e313524d",
                "023a223a8c3928e1"
            ]
        ]
    },
    {
        "id": "d648f275afa8fc41",
        "type": "function",
        "z": "89805faa7c8e0f1d",
        "name": "function 7",
        "func": "msg.payload = \"s3\\r\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 220,
        "wires": [
            [
                "0147e7d4e313524d",
                "023a223a8c3928e1"
            ]
        ]
    },
    {
        "id": "43f60e39074b54cc",
        "type": "function",
        "z": "89805faa7c8e0f1d",
        "name": "function 8",
        "func": "msg.payload = \"s4\\r\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 260,
        "wires": [
            [
                "0147e7d4e313524d",
                "023a223a8c3928e1"
            ]
        ]
    },
    {
        "id": "1dce56df65e22a3b",
        "type": "function",
        "z": "89805faa7c8e0f1d",
        "name": "function 9",
        "func": "msg.payload = \"9\\r\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 300,
        "wires": [
            [
                "0147e7d4e313524d",
                "023a223a8c3928e1"
            ]
        ]
    },
    {
        "id": "4fb279cce3e63f9c",
        "type": "function",
        "z": "89805faa7c8e0f1d",
        "name": "function 11",
        "func": "msg.payload = \"11\\r\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 340,
        "wires": [
            [
                "0147e7d4e313524d",
                "023a223a8c3928e1"
            ]
        ]
    },
    {
        "id": "f5a12fac2ae6f4cc",
        "type": "function",
        "z": "89805faa7c8e0f1d",
        "name": "function 12",
        "func": "msg.payload = \"12\\r\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 380,
        "wires": [
            [
                "0147e7d4e313524d",
                "023a223a8c3928e1"
            ]
        ]
    },
    {
        "id": "f1a1943921b2ad9e",
        "type": "function",
        "z": "89805faa7c8e0f1d",
        "name": "function 13",
        "func": "msg.payload = \"13\\r\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 420,
        "wires": [
            [
                "0147e7d4e313524d",
                "023a223a8c3928e1"
            ]
        ]
    },
    {
        "id": "b23bfd550b6a6707",
        "type": "function",
        "z": "89805faa7c8e0f1d",
        "name": "function 14",
        "func": "msg.payload = \"14\\r\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 460,
        "wires": [
            [
                "0147e7d4e313524d",
                "023a223a8c3928e1"
            ]
        ]
    },
    {
        "id": "2984ea41d95d615c",
        "type": "function",
        "z": "89805faa7c8e0f1d",
        "name": "function 15",
        "func": "msg.payload = \"15\\r\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 500,
        "wires": [
            [
                "0147e7d4e313524d",
                "023a223a8c3928e1"
            ]
        ]
    },
    {
        "id": "2984a9a2f48c5bc4",
        "type": "function",
        "z": "89805faa7c8e0f1d",
        "name": "function 16",
        "func": "msg.payload = \"16\\r\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 540,
        "wires": [
            [
                "0147e7d4e313524d",
                "023a223a8c3928e1"
            ]
        ]
    },
    {
        "id": "7fc6630d31f119c4",
        "type": "function",
        "z": "89805faa7c8e0f1d",
        "name": "function 17",
        "func": "msg.payload = \"17\\r\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 580,
        "wires": [
            [
                "0147e7d4e313524d",
                "023a223a8c3928e1"
            ]
        ]
    },
    {
        "id": "369142a9a5452063",
        "type": "function",
        "z": "89805faa7c8e0f1d",
        "name": "function 18",
        "func": "msg.payload = \"18\\r\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 620,
        "wires": [
            [
                "0147e7d4e313524d",
                "023a223a8c3928e1"
            ]
        ]
    },
    {
        "id": "0b63ef211e79b0ef",
        "type": "function",
        "z": "89805faa7c8e0f1d",
        "name": "function 18",
        "func": "msg.payload = \"0\\r\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 680,
        "wires": [
            [
                "0147e7d4e313524d",
                "023a223a8c3928e1"
            ]
        ]
    },
    {
        "id": "9b197f58db217f4c",
        "type": "function",
        "z": "89805faa7c8e0f1d",
        "name": "function 19",
        "func": "msg.payload = \"10\\r\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 720,
        "wires": [
            [
                "0147e7d4e313524d",
                "023a223a8c3928e1"
            ]
        ]
    },
    {
        "id": "39c8ebb82f2c0d31",
        "type": "function",
        "z": "89805faa7c8e0f1d",
        "name": "function 20",
        "func": "msg.payload = \"20\\r\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 760,
        "wires": [
            [
                "0147e7d4e313524d",
                "023a223a8c3928e1"
            ]
        ]
    },
    {
        "id": "4c296ad905d9bc37",
        "type": "function",
        "z": "89805faa7c8e0f1d",
        "name": "function 21",
        "func": "msg.payload = \"30\\r\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 800,
        "wires": [
            [
                "0147e7d4e313524d",
                "023a223a8c3928e1"
            ]
        ]
    },
    {
        "id": "7c84809c9b37d0a2",
        "type": "function",
        "z": "89805faa7c8e0f1d",
        "name": "function 22",
        "func": "msg.payload = \"40\\r\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 840,
        "wires": [
            [
                "0147e7d4e313524d",
                "023a223a8c3928e1"
            ]
        ]
    },
    {
        "id": "04d0a43b9a43d820",
        "type": "function",
        "z": "89805faa7c8e0f1d",
        "name": "function 23",
        "func": "msg.payload = \"50\\r\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 880,
        "wires": [
            [
                "0147e7d4e313524d",
                "023a223a8c3928e1"
            ]
        ]
    },
    {
        "id": "8430719f8bf75c9e",
        "type": "function",
        "z": "89805faa7c8e0f1d",
        "name": "function 24",
        "func": "msg.payload = \"60\\r\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 920,
        "wires": [
            [
                "0147e7d4e313524d",
                "023a223a8c3928e1"
            ]
        ]
    },
    {
        "id": "52efc93f9d4aa886",
        "type": "function",
        "z": "89805faa7c8e0f1d",
        "name": "function 25",
        "func": "msg.payload = \"70\\r\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 960,
        "wires": [
            [
                "023a223a8c3928e1",
                "0147e7d4e313524d"
            ]
        ]
    },
    {
        "id": "95651325d5a46ad1",
        "type": "function",
        "z": "89805faa7c8e0f1d",
        "name": "function 26",
        "func": "msg.payload = \"80\\r\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 1000,
        "wires": [
            [
                "0147e7d4e313524d",
                "023a223a8c3928e1"
            ]
        ]
    },
    {
        "id": "93bd2736ddaaa80a",
        "type": "function",
        "z": "89805faa7c8e0f1d",
        "name": "function 27",
        "func": "msg.payload = \"90\\r\\n\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 1040,
        "wires": [
            [
                "0147e7d4e313524d",
                "023a223a8c3928e1"
            ]
        ]
    },
    {
        "id": "c649a355dc3a6008",
        "type": "ui_spacer",
        "z": "89805faa7c8e0f1d",
        "name": "spacer",
        "group": "53de55e0adec5f31",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "1a4584e6a73cfae9",
        "type": "ui_spacer",
        "z": "89805faa7c8e0f1d",
        "name": "spacer",
        "group": "53de55e0adec5f31",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "b5e49065de3aa3fd",
        "type": "ui_spacer",
        "z": "89805faa7c8e0f1d",
        "name": "spacer",
        "group": "53de55e0adec5f31",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "8559be5643b01bd4",
        "type": "ui_spacer",
        "z": "89805faa7c8e0f1d",
        "name": "spacer",
        "group": "45f3bc3f0ed8f0d3",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "31c8c2a45a2ddc1b",
        "type": "ui_spacer",
        "z": "89805faa7c8e0f1d",
        "name": "spacer",
        "group": "45f3bc3f0ed8f0d3",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "7e327c1552e82844",
        "type": "ui_spacer",
        "z": "89805faa7c8e0f1d",
        "name": "spacer",
        "group": "45f3bc3f0ed8f0d3",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "72910b2053b3df95",
        "type": "ui_spacer",
        "z": "89805faa7c8e0f1d",
        "name": "spacer",
        "group": "45f3bc3f0ed8f0d3",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "e0342072d5eb51d1",
        "type": "ui_spacer",
        "z": "89805faa7c8e0f1d",
        "name": "spacer",
        "group": "45f3bc3f0ed8f0d3",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "a16532d46e6901c8",
        "type": "ui_spacer",
        "z": "89805faa7c8e0f1d",
        "name": "spacer",
        "group": "45f3bc3f0ed8f0d3",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "7a37e10469d1e0b3",
        "type": "ui_spacer",
        "z": "89805faa7c8e0f1d",
        "name": "spacer",
        "group": "45f3bc3f0ed8f0d3",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "b7e09faad4cb7dce",
        "type": "ui_spacer",
        "z": "89805faa7c8e0f1d",
        "name": "spacer",
        "group": "45f3bc3f0ed8f0d3",
        "order": 11,
        "width": 1,
        "height": 1
    },
    {
        "id": "e96614c87418d673",
        "type": "ui_spacer",
        "z": "89805faa7c8e0f1d",
        "name": "spacer",
        "group": "a1e24a66b8b9e219",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "c9e17d9a25aeca04",
        "type": "ui_spacer",
        "z": "89805faa7c8e0f1d",
        "name": "spacer",
        "group": "a1e24a66b8b9e219",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "0bc8b95d9b244e41",
        "type": "ui_spacer",
        "z": "89805faa7c8e0f1d",
        "name": "spacer",
        "group": "a1e24a66b8b9e219",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "f935fcc05f09e1b0",
        "type": "ui_spacer",
        "z": "89805faa7c8e0f1d",
        "name": "spacer",
        "group": "a1e24a66b8b9e219",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "7e29b683aae1df27",
        "type": "ui_spacer",
        "z": "89805faa7c8e0f1d",
        "name": "spacer",
        "group": "a1e24a66b8b9e219",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "59b95eacbf399195",
        "type": "ui_spacer",
        "z": "89805faa7c8e0f1d",
        "name": "spacer",
        "group": "a1e24a66b8b9e219",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "a128c10f05e91dde",
        "type": "ui_spacer",
        "z": "89805faa7c8e0f1d",
        "name": "spacer",
        "group": "a1e24a66b8b9e219",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "4d45d0b577dc500a",
        "type": "ui_spacer",
        "z": "89805faa7c8e0f1d",
        "name": "spacer",
        "group": "a1e24a66b8b9e219",
        "order": 11,
        "width": 1,
        "height": 1
    },
    {
        "id": "920c78bbf8e5c088",
        "type": "ui_spacer",
        "z": "89805faa7c8e0f1d",
        "name": "spacer",
        "group": "6d5f39e00b1b7885",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "e10be75f793aa5b7",
        "type": "ui_spacer",
        "z": "89805faa7c8e0f1d",
        "name": "spacer",
        "group": "6d5f39e00b1b7885",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "2ea3a48453518dca",
        "type": "ui_spacer",
        "z": "89805faa7c8e0f1d",
        "name": "spacer",
        "group": "6d5f39e00b1b7885",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "eec3cb90c23f94b4",
        "type": "ui_spacer",
        "z": "89805faa7c8e0f1d",
        "name": "spacer",
        "group": "6d5f39e00b1b7885",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "d7956b4f88952f60",
        "type": "ui_spacer",
        "z": "89805faa7c8e0f1d",
        "name": "spacer",
        "group": "6d5f39e00b1b7885",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "3f90488a306ccdef",
        "type": "ui_spacer",
        "z": "89805faa7c8e0f1d",
        "name": "spacer",
        "group": "6d5f39e00b1b7885",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "7d75bfadf0046c8c",
        "type": "ui_spacer",
        "z": "89805faa7c8e0f1d",
        "name": "spacer",
        "group": "6d5f39e00b1b7885",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "5b52ec20febce004",
        "type": "ui_spacer",
        "z": "89805faa7c8e0f1d",
        "name": "spacer",
        "group": "6d5f39e00b1b7885",
        "order": 11,
        "width": 1,
        "height": 1
    },
    {
        "id": "c691b4f96383b6ec",
        "type": "ui_spacer",
        "z": "89805faa7c8e0f1d",
        "name": "spacer",
        "group": "7d38eba2de7e80df",
        "order": 10,
        "width": 4,
        "height": 1
    },
    {
        "id": "703724241ecb3929",
        "type": "ui_spacer",
        "z": "89805faa7c8e0f1d",
        "name": "spacer",
        "group": "7d38eba2de7e80df",
        "order": 12,
        "width": 4,
        "height": 1
    },
    {
        "id": "8b994db3c8712b61",
        "type": "ui_spacer",
        "z": "89805faa7c8e0f1d",
        "name": "spacer",
        "group": "7d38eba2de7e80df",
        "order": 13,
        "width": 4,
        "height": 1
    },
    {
        "id": "aff4d31c27544964",
        "type": "ui_spacer",
        "z": "89805faa7c8e0f1d",
        "name": "spacer",
        "group": "7d38eba2de7e80df",
        "order": 14,
        "width": 4,
        "height": 1
    },
    {
        "id": "4f46f6761ba02702",
        "type": "ui_group",
        "name": "Sliders motorreductores",
        "tab": "b838c470c9cb2e67",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a1e24a66b8b9e219",
        "type": "ui_group",
        "name": "Medio",
        "tab": "b838c470c9cb2e67",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6d5f39e00b1b7885",
        "type": "ui_group",
        "name": "Derecha",
        "tab": "b838c470c9cb2e67",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "45f3bc3f0ed8f0d3",
        "type": "ui_group",
        "name": "Izquierda",
        "tab": "b838c470c9cb2e67",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "95d2d82926f411db",
        "type": "ui_group",
        "name": "GRAFICA RADAR",
        "tab": "b838c470c9cb2e67",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6ab8ac8a0123522e",
        "type": "ui_group",
        "name": "Botones Brazo ROBOTICO",
        "tab": "b838c470c9cb2e67",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7d38eba2de7e80df",
        "type": "ui_group",
        "name": "Grados servomotor",
        "tab": "b838c470c9cb2e67",
        "order": 8,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "b838c470c9cb2e67",
        "type": "ui_tab",
        "name": "PANEL DE CONTROL",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]